.main-header {
  background: white;
  position: relative;
  z-index: 100;
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.main-header .container nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.main-header .container nav ul li a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}
.mobile-menu {
  cursor: pointer;
}
